#primtal {
  word-wrap: break-word;
  font-size: 10px;
}
#seconds {
    display: block;
  font-size: 25px;
  margin: 0 auto;
}
#Calculate {
    display:block;
  width: 120px;
  height: 40px;
  border: 5px double green;
  margin: 0 auto;
}
#View {
    display: block;
    width: 120px;
    height: 40px;
    border: 5px double lightblue;
    margin: 0 auto;
}
#Calculate:hover {
  border-style: groove;
  width: 130px;
  height: 45px;
}
#View:hover {
  border-style: groove;
  width: 130px;
  height: 45px;
}
#input {
    display: block;
    font-size: 20px;
    margin: 0 auto;
}
#separator {
    display: block;
    width: 230px;
    margin: 0 auto;
}